
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4" id="WebApp_ID">
	<servlet>
		<description>
		</description>
		<display-name>SearchProduct</display-name>
		<servlet-name>SearchProduct</servlet-name>
		<servlet-class>com.kfc.servlet.SearchProduct</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchProduct</servlet-name>
		<url-pattern>/SearchProduct</url-pattern>
	</servlet-mapping>
</web-app>